:root {
  --main-color: black;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
